$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Varela');
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}




$naranjo  : #f69f3b;
$beich      : #eee4c1;

html{
  height: 100%;
}
body{
  background-color: $naranjo;
  background-size: contain;
  font-family: 'Varela', sans-serif;
  font-size: 13px;
  height: 100%;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
a, 
a:hover,
a:focus,
a:active,
a:visited,
button{
  outline: 0 !important;
  text-decoration: none;
}
h2{
  color: #995F19;
}
.center{
  text-align: center;
}
.clear{
  clear: both;
}

//

.section{
  background-color: #eee4c1;
  margin: 0;
  padding-bottom: 40px;
  .nav{
    text-align: right;
    margin: 25px 0;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        display: inline-block;
        &.active a{
          color: $naranjo;
        }
        a{
          color: #995F19;
          padding: 0px 8px;
        }
      }
    }
  }
  .icons{
    margin-bottom: 30px;
    .col{
      padding: 0 5px;
    }
  }
  h1{
    font-size: 8em;
  }
  p{
    color: #995F19;
  }
  .phone{
    img{
      margin: 0 auto;
    }
  }
}
.footer{
  padding: 30px;
  margin: 0;
}


.modal{
  .modal-content{
    background-color: $beich;
    border-radius: 0px;
    padding: 20px 20px 25px 20px;
    .modal-header{
      border-bottom: 0px solid !important;
      h4{
        color: $naranjo;
        font-size: 3em;
        font-family: 'Varela', sans-serif;
      }
      .fa-times{
        color: #995F19;
        font-size: 1.5em;
      }
    }
    .modal-body{
      input,
      textarea{
        background-color: lighten($beich, 4);
        border: 2px solid $naranjo;
        color: #995F19;
      }
      textarea{
        height: 84px;
      }
    }
    .modal-footer {
        border-top: 0px solid !important;
        .btn{
          transition: all .3s;
        }
    }
  }
}



